a {
    text-decoration: none;
}


/* HEADER */

header {}

.navbar {
    max-width: 1440px;
    height: 80px;
    flex-grow: 0;
    padding: 18px 11.11%;
    background-color: #000000;
    opacity: 0.75;
    margin: 0;
}

.navbar .logo img {
    max-width: 60px !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
}

.navbar-nav li {
    float: left;
    padding-left: 36px;
    text-align: left;
}

.navbar-nav li a {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: none;
    padding: 0 5px !important;
}

.navbar-toggler img {
    width: 24px;
    height: 24px;
}

.navbar-toggler .close-icon {
    display: inline;
}

.navbar-toggler.collapsed .close-icon,
.navbar-toggler:not(.collapsed) .toggler-icon {
    display: none;
}

.navbar-collapse .nav-collapse li a {
    padding-left: 0 !important;
}

@media screen and (min-width: 376px) {}

@media screen and (max-width: 375px) {
    .navbar {
        height: 60px;
        padding: 12px 16px;
        background-color: #0d1c2a;
    }
    .navbar-collapse .navbar-nav {
        position: absolute;
        background-color: #091b2b;
        width: 375px;
        height: 752px;
        left: 0;
    }
    .navbar-collapse li {
        padding-left: 16px !important;
    }
}