a {
    text-decoration: none;
}


/* HEADER */

header {
    max-width: 1440px;
    height: 820px;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 820px;
    object-fit: cover;
   }
.navbar {
    max-width: 1440px;
    height: 80px;
    flex-grow: 0;
    padding: 18px 11.11%;
    background-color: #000000;
    opacity: 0.75;
    margin: 0;
}

.navbar .logo img {
    max-width: 60px !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
}

.navbar-nav li {
    float: left;
    padding-left: 36px;
    text-align: left;
}

.navbar-nav li a {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: none;
    padding: 0 5px !important;
}

.navbar-toggler img {
    width: 24px;
    height: 24px;
}

.navbar-toggler .close-icon {
    display: inline;
}

.navbar-toggler.collapsed .close-icon,
.navbar-toggler:not(.collapsed) .toggler-icon {
    display: none;
}

.navbar-collapse .nav-collapse li a {
    padding-left: 0 !important;
}

/* BODY */
.intro-cont {
    max-width: 1440px;
    height: 800px;
    background-color: #fff;
    margin: 0 !important;
    position: relative;
}
.intro-info {
    max-width: 1120px;
    margin: 20% auto auto;
}

.intro-info .intro-title {
    float: left;
    width: 482px;
    font-size: 44px;
    line-height: 52px;
    letter-spacing: 1.32px;
    text-align: left;
}

.intro-content {
    float: right;
    max-width: 638px;
}

.intro-content #content1 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.96px;
    text-align: left;
}

.intro-content #content2 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-align: left;
}
.intro-cont img {
    max-width: 100%;
    height: auto;
    left: 0;
    bottom: 0;
}

@media screen and (min-width: 376px) {}

@media screen and (max-width: 540px) {
    .navbar {
        height: 60px;
        padding: 12px 16px;
        background-color: #0d1c2a;
        opacity: unset;
    }
    .navbar-collapse .navbar-nav {
        position: absolute;
        background-color: #091b2b;
        width: 100%;
        height: 752px;
        left: 0;
    }
    .navbar-collapse ul {
        padding-top: 30px;
    }
    .navbar-collapse li {
        padding-left: 16px !important;
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 425px) {
    video {
        height: 540px;
       }
    .navbar-collapse ul {
        padding-top: 30px;
    }
    .navbar-collapse li {
        padding-left: 16px !important;
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 375px) {
    .navbar-collapse ul {
        padding-top: 30px;
    }
    .navbar-collapse li {
        padding-left: 16px !important;
        padding-bottom: 24px;
    }
}